<div class="card-container">
  <div class="card-header-wrapper">
    <h3 class="card-title">{{ customMsgService.translate("department") }}</h3>
  </div>

  <div class="card-component">
    <kendo-grid [kendoGridBinding]="gridView"  kendoGridSelectBy="keyId" [selectedKeys]="mySelection" [pageSize]="20"
      [pageable]="true" [sortable]="true" [groupable]="false" [reorderable]="true" [resizable]="true" [height]="480"
      [columnMenu]="{ filter: true }">
      <ng-template kendoGridToolbarTemplate>
        <kendo-textbox [placeholder]="customMsgService.translate('gridSearch')" kendoTextBox
          (valueChange)="onFilter($event)" />
        <kendo-grid-spacer> </kendo-grid-spacer>

        <button kendoButton [size]="'medium'" [fillMode]="'outline'" [themeColor]="'success'" (click)="openAddMode()">
         {{ customMsgService.translate('AddNew') }}
        </button>

        <!-- Start Add New Department -->
        <kendo-dialog title="Add New Department" [animation]="animation" *ngIf="isEditMode"
          (close)="closeAddNewDialogue()" [minWidth]="250" [width]="850">
          <form [formGroup]="departmentForm" class="form">
<!--             
            <div class="row"> -->
              <!-- <div class="col-6">
                <div class="form-group">
                  <kendo-label [for]="'datepicker'" text="Select a date:"></kendo-label>
                  <kendo-datepicker formControlName="datepicker" [size]="'medium'" style="width: 100%" format="dd/MM/yyyy"
                    [style.border]="departmentForm.get('datepicker')?.invalid && departmentForm.get('datepicker')?.touched ? '1px solid red' : '' "></kendo-datepicker>
                </div>
              </div> -->
              <!-- <div class="col-6">
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <kendo-label [for]="'myName'" text="My Name:"></kendo-label>
                  <input kendoTextBox formControlName="myName" placeholder="Mushfique..." class="form-control"
                  
                  />
                 </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <kendo-label [for]="'myAge'" text="My Age:"></kendo-label>
                  <input kendoTextBox formControlName="myAge" placeholder="(18)" class="form-control"/>
                </div>
              </div>
            </div>


            <!-- Dialog Actions -->
            <kendo-dialog-actions>
              <button kendoButton (click)="submitForm(departmentForm)" [disabled]="departmentForm.invalid" themeColor="primary"> Save </button>
              <button kendoButton type="button" (click)="closeAddNewDialogue()"> Cancel </button>
            </kendo-dialog-actions>
          </form>
        </kendo-dialog>

        <!-- End Add New Department -->
        <button kendoGridExcelCommand type="button" [svgIcon]="excelIcon">
          {{ customMsgService.translate("exportExcel") }}
        </button>
        <button kendoGridPDFCommand [svgIcon]="pdfIcon">
          {{ customMsgService.translate("exportPdf") }}
        </button>
      </ng-template>

      <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [class]="{ 'text-center': true }"
        [resizable]="false" [columnMenu]="false" [showSelectAll]="true">
      </kendo-grid-checkbox-column>

 
        <!-- <kendo-grid-column field="keyId" [title]="customMsgService.translate('keyId')" [width]="200"
          [class]="{ 'text-center': true }" [resizable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="myName" [title]="customMsgService.translate('MyName')" [width]="200"
          [class]="{ 'text-center': true }" [resizable]="false">
        </kendo-grid-column>
        <kendo-grid-column field="myAge" [title]="customMsgService.translate('MyAge')" [width]="100"
          [class]="{ 'text-center': true }" [resizable]="false">
        </kendo-grid-column> -->
   
        <kendo-grid-column *ngFor="let col of columns" [field]="col.field" [title]="col.title">
        </kendo-grid-column>

      <kendo-grid-column [width]="50" [title]="customMsgService.translate('actions')" [sortable]="false"
        [filterable]="false" [resizable]="false" [class]="'text-center'">
        <ng-template kendoGridCellTemplate let-dataItem>
          <i class="bi bi-pencil" style="color: green" (click)="openEditMode(dataItem)"></i>
          &nbsp;
          <i class="bi bi-trash" style="color: red" (click)="onDelete(dataItem)"></i>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-pdf fileName="department.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
      <kendo-grid-excel fileName="department.xlsx"></kendo-grid-excel>
    </kendo-grid>
  </div>
</div>

<!-- <kendo-dialog title="Edit Department" [animation]="animation" *ngIf="isEditDialogVisible" (close)="closeEditDialog()"
  [minWidth]="250" [width]="450">
  <div class="form">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-md-3 text-end">
            <kendo-label [for]="'departmenMyName'" text="Department MyName:"></kendo-label>
          </td>
          <td class="col-md-9">
            <input kendoTextBox id="departmenMyName" [(ngModel)]="editForm.myName" name="departmenMyName" required
              minlength="3" maxlength="50" />
          </td>
        </tr>
        <tr>
          <td class="col-md-3 text-end">
            <kendo-label [for]="'departmentMyAge'" text="Department My Age:"></kendo-label>
          </td>
          <td class="col-md-9">
            <input kendoTextBox [(ngModel)]="editForm.myAge" name="departmentMyAge" required minlength="3"
              maxlength="50" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <kendo-dialog-actions>
    <button kendoButton (click)="onSave()" type="submit" [disabled]="!editForm.myName || !editForm.myAge">
      Save
    </button>
    <button kendoButton type="button" (click)="closeEditDialog()">
      Cancel
    </button>
  </kendo-dialog-actions>
</kendo-dialog> -->

<!-- Start Popue For Delete -->
<kendo-dialog title="Please confirm" [animation]="animation" *ngIf="isDeleteDialogVisible" (close)="closeDeleteDialog()"
  [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center">
    {{ customMsgService.translate("titleDelete") }}
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteDialog()">No</button>
    <button kendoButton (click)="confirmDelete()" themeColor="primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>
<!-- End Popue For  Delete -->
<ng-template #notification>
  <div class="notification-box">
    <div class="text-content">
      <div>
        <kendo-svgicon [icon]="svgIcon" size="large" style="margin-top: -5px"></kendo-svgicon>
        <kendo-svgicon class="close" [icon]="closeIcon" (click)="close()"
          style="height: 20px; width: 20px"></kendo-svgicon>
      </div>
    </div>
  </div>
</ng-template>